.shopping-cart
  %h4 Shopping Cart
  %p
    = "Cart subtotal (#{@num_in_cart} items): #{number_to_currency(@subtotal)}"
    %p
      = link_to 'View Full Cart', 'sessions/view_cart'
      = button_to 'Checkout'
