%link{:href => "dashboard.css", :rel => "stylesheet"}

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Ye Olde Rails Shoppe
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/products/new"} Create Product
            %li
              %a{:href => "/products"} View Products
          %form.navbar-form.navbar-right
            %input.form-control{:placeholder => "Search...", :type => "text"}
    .container-fluid



      %h1.page-header
        %br
        Admin Dashboard
      .row.placeholders
        -@products[0..3].each do |product|
          .col-xs-6.col-sm-3.placeholder
            %img.img-responsive{:alt => "Generic placeholder thumbnail", :height => "200", :src => "#{product.img_url}", :width => "200"}
              %h4= product.title
              %span.text-muted= product.description



      %h2.sub-header Inventory Overview
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Product ID
              %th Product Title
              %th Quantity In Stock
              %th Edit
              %th Delete

            %tbody
              - @products.order(:id).each do |product|
                %tr
                  %td= product.id
                  %td= link_to product.title, product_path(product.id)
                  %td= product.quantity
                  %td= link_to 'Edit', edit_product_path(product.id)
                  %td= link_to 'Delete', product_path(product.id), method: :delete

