- if session[:purchase] && session[:purchase].length > 0
  .row
    .col-sm-4.col-lg-4.col-md-4
      .thumbnail
        - if session[:purchase]
          - total = 0
          - session[:purchase].each_pair do |key, value|
            - item = Product.find(key)
            - subtotal = item.price.to_f * value.to_f
            - total += subtotal
            %img.product_img{src: "#{item.img_url}"}
            .caption
              %h4.pull-right
                = number_to_currency(item.price)
              %h4
                = link_to item.title, product_path(key)
              %p
                = "#{item.description[0..30]}..."
              %p
                = "Quantity: #{value}"
                %br
                = "Subtotal: #{number_to_currency(subtotal)}"
  %br
  %br
  %br
  %h3
    = "Total: #{number_to_currency(total)}"

    = form_for :purchase, url: checkout_path do |f|
      = f.hidden_field :total_cost, value: total
      = f.submit "Checkout"
