%div.form-style
  = form_for @product do |f|

    .form-group
      = f.label :title
      #exampleInputEmail1
        = f.text_field :title
    .form-group
      = f.label :price
      #exampleInputEmail1
        = f.text_field :price
    .form-group
      = f.label :description
      #exampleInputEmail1
        = f.text_field :description
    .form-group
      = f.label :Image_url
      #exampleInputEmail1
        = f.text_field :img_url
    .form-group
      = f.label :quantity
      #exampleInputEmail1
        = f.text_field :quantity

    %button.btn.btn-default
      = f.submit

