%div.flash
  -flash.each do |message_type, message|
    %div.alert{ :class => "alert-#{message_type}"}
      =message

%div.form-style
  = form_for @product do |f|

    .form-group
      = f.label :title
      #exampleInputEmail1
        = f.text_field :title
    .form-group
      = f.label :price
      #exampleInputEmail1
        = f.text_field :price
    .form-group
      = f.label :description
      #exampleInputEmail1
        = f.text_field :description
    .form-group
      = f.label :Image_url
      #exampleInputEmail1
        = f.text_field :img_url
    .form-group
      = f.label :quantity
      #exampleInputEmail1
        = f.text_field :quantity
    .form-group
      = f.label :categories
      #exampleInputEmail1
        = f.collection_check_boxes :category_ids, Category.all, :id, :name do |b|
          %div.collection-check-box
            = b.check_box
            = b.label

    %button.btn.btn-default
      = f.submit

