%div.flash
  -flash.each do |message_type, message|
    %br
    %br
    %div.alert{ :class => "alert-#{message_type}"}
      =message
%h3
  %br
  %br
  %br
    %p#header-left View All Products
%div#category-title
  - @categories.each do |category|
    %div= link_to "#{category.name}", category_path(category)
    %br

.row
  - @products.each do |product|
    .col-sm-4.col-lg-4.col-md-4
      .thumbnail
        %img.product_img{:src => "#{product.img_url}"}
          .caption
            %h4.pull-right= number_to_currency(product.price)
            %h4
              = link_to product.title, product_path(product)
            %p= "#{product.description[0..30]}..."
            = form_for(:session, url: sessions_shop_path, remote: true, html: { class: "add-to-cart" }) do |f|
              %input{:name => "product_id", :type => "hidden", :value => "#{product.id}"}
              %p= button_to 'Add To Cart'



