= render 'layouts/sidebar'
%div.flash
  -flash.each do |message_type, message|
    %br
    %br
    %div.alert{ :class => "alert-#{message_type}"}
      =message

.row
  - @products.each do |product|
    .col-sm-4.col-lg-4.col-md-4
      .thumbnail
        %img.product_img{:src => "#{product.img_url}"}
        .caption
          %h4.pull-right= number_to_currency(product.price)
          %h4
            = link_to product.title, product_path(product)
          %p= "#{product.description[0..30]}..."



