= render 'layouts/sidebar'
%div.flash
  -flash.each do |message_type, message|
    %div.alert{ :class => "alert-#{message_type}"}
      =message

.col-sm-4.col-lg-4.col-md-4
  .thumbnail
    %img{:src => "#{@product.img_url}"}
      .caption
        %h4.pull-right= number_to_currency(@product.price)
        %h4
          = @product.title
        %p= @product.description
        -@product.categories.each do |category|
          = "Category: #{category.name}"
          %br
        = form_for :purchase, url: cart_path, method: :get, remote: true, html: {id: "add-to-cart-form"} do |f|
          = f.number_field :quantity, value: 1
          = f.hidden_field :product_id, value: @product.id
          - if @product.quantity > 0
            = f.submit "Add to Cart"
          -else
            = f.submit "Add to Cart", disabled



