%br
%br
%br
%br
%br

%div.flash
  -flash.each do |message_type, message|
    %div.alert{ :class => "alert-#{message_type}"}
      =message

.col-sm-4.col-lg-4.col-md-4
  .thumbnail
    %img{:src => "#{@product.img_url}"}
      .caption
        %h4.pull-right= number_to_currency(@product.price)
        %h4
          = @product.title
        %p= @product.description
        -@product.categories.each do |category|
          = "Category: #{category.name}"
          %br

  = link_to 'Edit Product   |', edit_product_path

  = link_to 'Delete Product   |', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }

  = link_to 'View All Products', products_path
